/* :root {
  --form-bg-color: transparent;
} */

.form {
  position: relative;
  padding: 0 20px 5em;
  /* background-color: var(--form-bg-color); */
  background-size: cover;
  /* background-image: url(../images/DSC00838.jpg); */
  background-position: center;
  background-size: cover;

  --border-color: rgba(var(--font-color-rgb), 0.2);
}

/* .form::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  filter: blur(1px);
} */

.form__content {
  position: relative;
  z-index: 2;
  max-width: 400px;
  margin: 0 auto;
  /* padding: 50px; */

  /* background-color: rgba(0, 0, 0, 0.5); */
  /* text-align: center; */
}

.form-field {
  margin-bottom: 1em;
}

.form-field label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

.form select {
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  /* color: var(--form-bg-color); */
}

.form textarea {
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  min-height: 100px;
  /* color: var(--form-bg-color); */
}

.form button {
  display: block;
  padding: 0.5em 1em;
  margin: 0 auto;
  border: none;
  font-size: 1.2em;
  color: var(--bg-color);
  background-color: var(--secondary-color);
  border-radius: 3px;
}
