.hero {
  height: 100vh;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
}

.hero:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero__content {
  /* margin-top: 10em; */
  /* position: relative; */
  position: absolute;
  bottom: 8vh;
  z-index: 2;
  font-size: 1em;
}

.hero img {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  bottom: -4px;
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .hero__content {
    font-size: 1.8em;
  }
}
